/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* Import Milo Fonts */
/*@import url("http://t.www.arizona.edu/sites/all/themes/custom/ua_theme/fonts/Milo.css");*/
@import url("bootstrap-12-col-grid.css");
@import url("https://brand.arizona.edu/sites/default/files/v2/ua-brand-fonts/milo.css");
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #8F1124;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  color: #CC665E;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a, button {
  -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.bg-cochineal-red {
  background-color: #AB0520;
}
.bg-ua-blue {
  background-color: #0C234B;
}
.bg-ash {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 100%, 100%);
}
a.arizona-logo {
  display: inline-block;
  height: 20px;
  margin: 19px 0 20px 0;
  max-width: 80%;
  float: left;
  width: 276px;
  padding: 0 0 0 .6rem;
}
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2,
.h2,
h3,
.h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
.h1 {
  font-size: 50px;
  font-size: 3.125rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #49595E;
}
h2,
.h2 {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: #49595E;
}
h3,
.h3 {
  font-size: 24px;
  font-size: 1.5rem;
  color: #49595E;
  font-weight: 700;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #49595E;
}
/*h4.section-header{*/
  /*margin: 0;*/
  /*font-family: 'MiloScWeb-Black',sans-serif;*/
  /*font-size: 1.125rem;*/
  /*line-height: 1em;*/
  /*text-transform: uppercase;*/
  /*color: #6b868d;*/
  /*font-weight: normal;*/
/*}*/
/*h4.section-header::before, h4.section-header::after {*/
  /*content: '\2014';*/
  /*letter-spacing: -.1em;*/
  /*line-height: 1em;*/
  /*margin-right: .625rem;*/
  /*margin-left: .625rem;*/
  /*color: #cfccc0;*/
/*}*/
h5,
.h5 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  color: #49595E;
}
h6,
.h6 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #49595E;
}
p {
  margin: 0 0 16px;
  margin: 0 0 1rem;
}
.lead {
  margin-bottom: 20px;
  margin-bottom: 1.2rem;
  font-size: 18px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  color: #49595E;
}
@media (min-width: 768px) {
  .lead {
    font-size: 24px;
    font-size: 1.4rem;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  padding: .2em;
  background-color: #cad9d8;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #ab0520;
  background-color: #f9f2f4;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 0.625em;
  padding-left: 33px;
  padding-left: 1.1rem;
  overflow: hidden;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
ul.triangle li {
  padding-left: 0px;
  padding-left: 0em;
  position: relative;
  list-style: none;
}
ul.triangle li:before {
  position: absolute;
  top: 8px;
  left: -1em;
  width: 0px;
  height: 0px;
  border-top: 6px solid #395180;
  border-left: 6px solid rgba(0, 0, 0, 0);
  content: '';
}
ul.triangle a {
  padding: 1px 0;
}
ul.triangle a:hover {
  border-bottom: 2px solid #CC665E;
  text-decoration:none;
}
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  a.arizona-logo {
      padding-left:0;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
  ul, ol {
    padding-left: 2.1rem;
  }
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
/* Catstrap Table */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border: 1px solid #fff;
  font-size: 18px;
  font-size: 1.125rem;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #fff;
}
table > thead > tr > th {
  vertical-align: bottom;
  background: #49595e;
  color: #fff;
  font-size: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-left: 12px;
  line-height: 1;
}
table > thead > tr > th,
table > thead > tr > td {
  border-bottom-width: 1px;
}
table > tbody > tr > td {
  background: #fff;
  color: #49595e;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
@media screen and (max-width: 767px) {
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>td,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>thead>tr>th {
          white-space: nowrap;
      }
      .table-responsive {
            width: 100%;
              margin-bottom: 15px;
                overflow-y: hidden;
                  -ms-overflow-style: -ms-autohiding-scrollbar;
                    border: 1px solid #ddd;
                }
}
table > tbody + tbody {
  border-top: 2px solid #ddd;
}
table table {
  background-color: #fff;
}
table > tbody > tr:nth-of-type(odd) > td, table > tbody > tr:nth-of-type(odd) > th {
  background-color: #EEF1F1;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #076873;
  color: #fff;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.32
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > table {
    margin-bottom: 0;
  }
  .table-responsive > table > thead > tr > th,
  .table-responsive > table > tbody > tr > th,
  .table-responsive > table > tfoot > tr > th,
  .table-responsive > table > thead > tr > td,
  .table-responsive > table > tbody > tr > td,
  .table-responsive > table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > table {
    border: 0;
  }
  .table-responsive > table > thead > tr > th:first-child,
  .table-responsive > table > tbody > tr > th:first-child,
  .table-responsive > table > tfoot > tr > th:first-child,
  .table-responsive > table > thead > tr > td:first-child,
  .table-responsive > table > tbody > tr > td:first-child,
  .table-responsive > table > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > table > thead > tr > th:last-child,
  .table-responsive > table > tbody > tr > th:last-child,
  .table-responsive > table > tfoot > tr > th:last-child,
  .table-responsive > table > thead > tr > td:last-child,
  .table-responsive > table > tbody > tr > td:last-child,
  .table-responsive > table > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > table > tbody > tr:last-child > th,
  .table-responsive > table > tfoot > tr:last-child > th,
  .table-responsive > table > tbody > tr:last-child > td,
  .table-responsive > table > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  color: #49595E;
  font-size: 24px;
  font-size: 1.5rem;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.form-control {
  display: block;
  width: 50%;
  height: 2.5rem;
  height: 40px;
  padding: 6px 12px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.42857143;
  color: #6F868D;
  background-color: #eef1f1;
  background-image: none;
  border: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control {
  width: 50%;
  height: 2.5rem;
  height: 40px;
  display: block;
  padding: 6px 12px;
  border: 1px solid #076873;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(131, 210, 226, 0.075);
  box-shadow: inset 0 1px 1px rgba(235, 239, 238, 0.075);
  color: #545454;
  vertical-align: middle;
  font-size: 1.4em;
  line-height: 1.428571429;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus, .email:focus {
  outline: 0;
  border-color: #141819;
  -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075), 0 0 8px hsla(194, 11%, 50%, 0.6);
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075), 0 0 8px hsla(194, 11%, 50%, 0.3);
}
@media (max-width: 768px) {
  .form-control {
    width: 100%;
  }
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: 34px;
  }
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm,
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"] {
    line-height: 30px;
  }
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg,
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"] {
    line-height: 46px;
  }
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  position: relative;
  margin-right: 15px;
  margin-bottom: 0;
  padding-left: 25px;
  font-weight: normal;
  font-size: 17px;
  cursor: pointer;
}
/*input[type="checkbox"] + label {*/
  /*padding-left: 25px;*/

/*}*/
input[type="checkbox"] + label {
  padding: 8px 0px 10px 25px;
}
input[type="radio"] + label {
  line-height: 1.2;
  padding: 9px 25px;
}
input[type="radio"],
.radio-inline input[type="radio"],
input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  top: 8px;
  left: 43px;
  margin-top: 9px;
  margin-left: -16px;
  width: 1px;
  height: 1px;
  outline: 0;
  opacity: 0.01;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="checkbox"]:checked:focus,
input[type="radio"]:checked:focus {
  outline: thin dotted;
  outline: 0px solid #141819;
  outline-offset: 7px;
}

.radio:hover label:before,
input[type="radio"]:focus + label:before,
input[type="radio"]:checked:focus + label:before {
  border: 1px #909090 solid;
  box-shadow: inset 0 1px 1px rgba(235, 239, 238, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(113, 135, 142, 0.3);
  line-height: 0.57;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.checkbox:hover label:before,
input[type="checkbox"]:focus + label:before,
input[type="checkbox"]:checked:focus + label:before {
  border: 1px #8f8f8f solid;
  box-shadow: inset 0 1px 1px rgba(235, 239, 238, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(113, 135, 142, 0.3);
  line-height: 1.1;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type="radio"]:checked {
  outline: 0;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-color: #EEF1F0;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  content: "";
  text-align: center;
  font-size: 1.6em;
  line-height: 1.1;
}

input[type="radio"] + label:before {
  border-radius: 8px;
}

input[type="radio"]:checked + label:before {
  color: hsl(194, 11%, 50%);
  content: "\2022";
  text-align: center;
  font-size: 29px;
  line-height: 0.589;
  padding-left: 1px;
}

input[type="checkbox"]:checked, input[type="checkbox"]:checked + label:before {
  outline: 0;
  color: hsl(194, 11%, 50%);
  content: "\2713";
  text-align: center;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.2);
  font-size: 16px;
  line-height: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  padding: 20px 0 0 0;
  color: #49595E;
  font-weight: bold;
  font-size: 1em;
}
.form-required {
  color: hsl(350, 94%, 35%);
}

form {
  position: relative;
  margin: 20px 0;
}
form:first-child {
  margin-top: 0;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline, .checkbox-inline {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-right: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #4A634E;
}
.has-success .form-control {
  border-color: #4A634E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-success .form-control:focus {
  border-color: #4A634E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #4A634E;
  background-color: #dff0d8;
  border-color: #4A634E;
}
.has-success .form-control-feedback {
  color: #4A634E;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #4A634E;
}
.has-warning .form-control {
  border-color: #4A634E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control:focus {
  border-color: #4A634E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #4A634E;
  background-color: #fcf8e3;
  border-color: #4A634E;
}
.has-warning .form-control-feedback {
  color: #4A634E;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #4A634E;
}
.has-error .form-control {
  border-color: #4A634E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control:focus {
  border-color: #4A634E;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #4A634E;
  background-color: #E6E3D9;
  border-color: #4A634E;
}
.has-error .form-control-feedback {
  color: #4A634E;
}
.has-feedback label ~ .form-control-feedback {
  top: 25px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #6f868d;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0;
  letter-spacing: 0.05em;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
}
.btn-red {
  color: #fff;
  background-color: #ab0520;
}
.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  color: #fff;
  background-color: #CC665E;
}
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
  background-image: none;
}
.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #ab0520;
}
.btn-blue {
  color: #fff;
  background-color: #0C234B;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #fff;
  background-color: #395180;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #0C234B;
}
/* Additional Button Colors */
.btn-cactus {
  color: #FFFFFF;
  background-color: #5C8727;
}

.btn-cactus:hover,
.btn-cactus:focus,
.btn-cactus:active,
.btn-cactus.active,
.open .dropdown-toggle.btn-cactus {
  color: #FFFFFF;
  background-color: #405E1B;
}

.btn-cactus:active,
.btn-cactus.active,
.open .dropdown-toggle.btn-cactus {
  background-image: none;
}

.btn-cactus.disabled,
.btn-cactus[disabled],
fieldset[disabled] .btn-cactus,
.btn-cactus.disabled:hover,
.btn-cactus[disabled]:hover,
fieldset[disabled] .btn-cactus:hover,
.btn-cactus.disabled:focus,
.btn-cactus[disabled]:focus,
fieldset[disabled] .btn-cactus:focus,
.btn-cactus.disabled:active,
.btn-cactus[disabled]:active,
fieldset[disabled] .btn-cactus:active,
.btn-cactus.disabled.active,
.btn-cactus[disabled].active,
fieldset[disabled] .btn-cactus.active {
  background-color: #5C8727;
}
.btn-sky {
  color: #FFFFFF;
  background-color: #84D2E2;
  border-color: #5C939E;
}

.btn-sky:hover,
.btn-sky:focus,
.btn-sky:active,
.btn-sky.active,
.open .dropdown-toggle.btn-sky {
  color: #FFFFFF;
  background-color: #5C939E;
}

.btn-sky:active,
.btn-sky.active,
.open .dropdown-toggle.btn-sky {
  background-image: none;
}

.btn-sky.disabled,
.btn-sky[disabled],
fieldset[disabled] .btn-sky,
.btn-sky.disabled:hover,
.btn-sky[disabled]:hover,
fieldset[disabled] .btn-sky:hover,
.btn-sky.disabled:focus,
.btn-sky[disabled]:focus,
fieldset[disabled] .btn-sky:focus,
.btn-sky.disabled:active,
.btn-sky[disabled]:active,
fieldset[disabled] .btn-sky:active,
.btn-sky.disabled.active,
.btn-sky[disabled].active,
fieldset[disabled] .btn-sky.active {
  background-color: #84D2E2;
}
.btn-river {
  color: #ffffff;
  background-color: #076873;
}

.btn-river:hover,
.btn-river:focus,
.btn-river:active,
.btn-river.active,
.open .dropdown-toggle.btn-river {
  color: #ffffff;
  background-color: #054950;
}

.btn-river:active,
.btn-river.active,
.open .dropdown-toggle.btn-river {
  background-image: none;
}

.btn-river.disabled,
.btn-river[disabled],
fieldset[disabled] .btn-river,
.btn-river.disabled:hover,
.btn-river[disabled]:hover,
fieldset[disabled] .btn-river:hover,
.btn-river.disabled:focus,
.btn-river[disabled]:focus,
fieldset[disabled] .btn-river:focus,
.btn-river.disabled:active,
.btn-river[disabled]:active,
fieldset[disabled] .btn-river:active,
.btn-river.disabled.active,
.btn-river[disabled].active,
fieldset[disabled] .btn-river.active {
  background-color: #076873;
}
.btn-sand {
  color: #ffffff;
  background-color: #F19E1F;
}

.btn-sand:hover,
.btn-sand:focus,
.btn-sand:active,
.btn-sand.active,
.open .dropdown-toggle.btn-sand {
  color: #ffffff;
  background-color: #a86e16;
}

.btn-sand:active,
.btn-sand.active,
.open .dropdown-toggle.btn-sand {
  background-image: none;
}

.btn-sand.disabled,
.btn-sand[disabled],
fieldset[disabled] .btn-sand,
.btn-sand.disabled:hover,
.btn-sand[disabled]:hover,
fieldset[disabled] .btn-sand:hover,
.btn-sand.disabled:focus,
.btn-sand[disabled]:focus,
fieldset[disabled] .btn-sand:focus,
.btn-sand.disabled:active,
.btn-sand[disabled]:active,
fieldset[disabled] .btn-sand:active,
.btn-sand.disabled.active,
.btn-sand[disabled].active,
fieldset[disabled] .btn-sand.active {
  background-color: #F19E1F;
}
.btn-mesa {
  color: #ffffff;
  background-color: #B75527;
}

.btn-mesa:hover,
.btn-mesa:focus,
.btn-mesa:active,
.btn-mesa.active,
.open .dropdown-toggle.btn-mesa {
  color: #ffffff;
  background-color: #803B1B;
}

.btn-mesa:active,
.btn-mesa.active,
.open .dropdown-toggle.btn-mesa {
  background-image: none;
}

.btn-mesa.disabled,
.btn-mesa[disabled],
fieldset[disabled] .btn-mesa,
.btn-mesa.disabled:hover,
.btn-mesa[disabled]:hover,
fieldset[disabled] .btn-mesa:hover,
.btn-mesa.disabled:focus,
.btn-mesa[disabled]:focus,
fieldset[disabled] .btn-mesa:focus,
.btn-mesa.disabled:active,
.btn-mesa[disabled]:active,
fieldset[disabled] .btn-mesa:active,
.btn-mesa.disabled.active,
.btn-mesa[disabled].active,
fieldset[disabled] .btn-mesa.active {
  background-color: #B75527;
}
.btn-brick {
  color: #FFFFFF;
  background-color: #4A3027;
}

.btn-brick:hover,
.btn-brick:focus,
.btn-brick:active,
.btn-brick.active,
.open .dropdown-toggle.btn-brick {
  color: #FFFFFF;
  background-color: #34221b;
}

.btn-brick:active,
.btn-brick.active,
.open .dropdown-toggle.btn-brick {
  background-image: none;
}

.btn-brick.disabled,
.btn-brick[disabled],
fieldset[disabled] .btn-brick,
.btn-brick.disabled:hover,
.btn-brick[disabled]:hover,
fieldset[disabled] .btn-brick:hover,
.btn-brick.disabled:focus,
.btn-brick[disabled]:focus,
fieldset[disabled] .btn-brick:focus,
.btn-brick.disabled:active,
.btn-brick[disabled]:active,
fieldset[disabled] .btn-brick:active,
.btn-brick.disabled.active,
.btn-brick[disabled].active,
fieldset[disabled] .btn-brick.active {
  background-color: #4A3027;
}
/* End Additional Button Colors*/

.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 26px;
  padding: 0.625rem 1.625rem;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.3333333;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-arrow:after {
  content: " »";
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
       -o-transition-property: height, visibility;
          transition-property: height, visibility;
}

[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
.breadcrumb {
  padding: 0.5em 1em 0.5em 0;
  margin-bottom: 0;
  list-style: none;
}
.breadcrumb a {
  color: hsl(0, 0%, 40%);
  font-weight: normal;
  border-bottom: 2px solid hsla(0, 0%, 0%, 0);
  padding: 1px 0;
}
.breadcrumb a:hover {
  border-bottom: 2px solid #666;
  text-decoration:none;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #333;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 0em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #AB0520;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #49595E;
}
.label-primary {
  background-color: #395180;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #395180;
}
.label-success {
  background-color: #5C8727;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #5C8727;
}
.label-info {
  background-color: #84D2E2;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #84D2E2;
}
.label-warning {
  background-color: #F19E1F;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #F19E1F;
}
.label-danger {
  background-color: #B75527;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #B75527;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
.clearfix,
.dl-horizontal dd,
.container,
.container-fluid,
.row,
.form-horizontal .form-group,
.btn-toolbar,
.btn-group-vertical > .btn-group,
.nav,
.navbar,
.navbar-header,
.navbar-collapse,
.pager,
.panel-body,
.modal-footer {
  *zoom: 1;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media (max-width: 479px) {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* Layout - UA Header */
#header_site #site_identifier a {
  float: left;
  margin: 1.5rem 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
#header_site #site_identifier a img {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin: 0 auto;
}
@media (min-width: 768px) {

  #header_site #site_identifier a {
    float: left;
    margin: 2.5rem 0;
    padding: 0;
    width: auto;
  }
  #header_site #site_identifier a img {
    width: 100%;
  }
}
#header_site #utility_links {
  display: none;
  margin: 1rem 0 1.5rem 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  #header_site #utility_links {
    display: block;
  }
}
#header_site #utility_links ul {
  padding: 0;
  margin: 0;
  border: 0 none;
  text-align: right;
}
#header_site #utility_links ul li {
  list-style: none;
  display: inline-block;
  padding: 0 .6rem;
  text-align: left;
}
#header_site #utility_links ul li a {
  font-size: 16px;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: #49595E;
  text-transform: none;
  font-family: MiloWeb-Text, sans-serif;
  font-weight: normal;
}
#header_site #utility_links ul li a:hover {
  /*text-decoration: underline;*/
  text-decoration: none;
  border-bottom: 2px solid #49595E;
}
#header_site #search {
  float: right;
}
#header_site #search .form-item {
  display: inline;
}
#header_site #search .form-item input {
  border-collapse: collapse;
  width: 13.8rem;
  font-family: MiloWeb, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1em;
  border: 0;
  background-color: #eef1f1;
  color: #333333;
  padding: .5rem;
  outline: 0;
}
#header_site #search .form-actions {
  display: inline;
}
#header_site #search .form-actions input[type="submit"] {
  text-indent: -9999em;
  background: url("../img/search-icon.png");
  width: 40px;
  height: 40px;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 24px 24px;
  background-size: 1.5rem 1.5rem;
  border: 0;
  background-repeat: no-repeat;
  background-position: 9px 7px;
  outline: 0;
}
#header_site #search form {
  border: 1px solid #d3d7de;
  background-color: #eef1f1;
  color: #333333;
  width: 272px;
  width: 17rem;
  margin: 0 auto 24px;
  margin: 0 auto 1.5rem;
}
@media (max-width: 767px) {
  #header_site #search {
    width: 100%;
    float: none;
    clear: both;
  }
}
/* End Layout - Header */
/* Layout - Menu */
#main_nav {
  clear: both;
}
#main_nav > ul {
  display: block;
  list-style: none;
  border-top: 2px solid #eef1f1;
  margin: 0;
  padding: 0;
}
#main_nav > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0 3rem 0 .6rem;
  text-align: left;
  float: left;
}
#main_nav > ul > li.last {
  padding: 0 .6rem;
}
#main_nav > ul > li > a {
  color: #395180;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.03em;
  padding: 1rem 0;
  float: left;
}
#main_nav > ul > li > a:hover,
#main_nav > ul > li > a:focus  {
  text-decoration: none;
  color: #7B89AE;
}
/* END Layout - Menu */
/* Layout - Sidebar */
#sidebar_first .quick-links h3 {
  margin-top: 38px;
  margin-top: 2.4rem;
}
#sidebar_first .quick-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar_first .quick-links ul li {
  line-height: 1;
}
#sidebar_first .quick-links ul li a {
  display: block;
  color: #333;
  padding: 8px 12px 8px 8px;
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  font-weight: normal;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#sidebar_first .quick-links ul li a:hover {
  text-decoration: none;
  color: #0d6772;
  background: #dbe8ea url("../img/sidebar-menu-chevron.png") no-repeat 100% 50%;
}
/* END Layout - Sidebar */
/* Layout - Footer */
footer#footer_site {
  margin-top: 40px;
  margin-top: 2.5rem;
  background: #e6e3d9;
  padding: 40px 0;
  padding: 2.5rem 0;
}
footer#footer_site a {
  color: #333;
  text-decoration: underline;
}
footer#footer_site a:hover {
  color: #777;
}
footer#footer_site #footer_logo {
  text-align: center;
}
footer#footer_site #footer_logo img {
  max-width: 360px;
  width: 80%;
  height: auto;
  margin: 0 auto 1rem;
}
@media (min-width: 992px) {
  footer#footer_site #footer_logo img {
    float: left;
    margin: 0;
  }
}

footer#footer_site ul {
  display: block;
  margin: 0;
  padding: 16px 0 0;
  padding: 1rem 0 0;
  text-align: center;
}
footer#footer_site ul > li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
  padding: 0 .75rem;
  border-right: 1px solid #B6BEC1;
}
footer#footer_site ul > li.last {
  border-right: 0;
}
footer#footer_site ul > li a {
  color: #333;
}
footer#footer_site #footer_copyright {
  clear: both;
  border-top: 1px solid #B6BEC1;
  margin-top: 32px;
  margin-top: 2rem;
  float: left;
  width: 100%;
  padding-top: 16px;
  padding-top: 1rem;
}
@media (min-width: 992px) {
  footer#footer_site ul {
    float: right;
    text-align: right;
  }
  footer#footer_site ul > li {
    float: left;
  }
}
/* END Layout - Footer */